@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.principal{  
  background-color:rgb(119,39,129);
  background-image: radial-gradient(circle, rgba(60,50,129,0.598433123249299) -50%, rgba(0,0,0,1) 100%);
}
.animation-title{
    animation:1s inicio 1;
}
.animation-title-dos{
  animation:1s inicio-dos 1;
}
.animation-button{
  animation:1s inicio-button 1;
  box-shadow:0px 0px 5px cyan;
 
}
.animation-button:hover{
  transition:all 0.8s ease-in-out;
  box-shadow:0px 0px 20px cyan;
 
}
.animation-imagen{
  animation:1s inicio-img 1;
  
}
.imagen{
  filter:drop-shadow(
    0 0 50px rgba(88, 3, 128, 0.8)
  );
  transition:all 1s ;
}
.imagen-2:hover{
  box-shadow: 0 0 50px rgb(75, 0, 151,0.6) ;
  transform:scale(1.05);
  transition:all 0.8s ;
}

.card{
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.05); 
}

@keyframes inicio {
  0% {
   opacity:0;
  }
  100% {
    opacity:1
 
  }
}
@keyframes inicio-dos {
  0% {
   opacity:0;
  }
  30%{
    opacity:0;
  }
  100% {
    opacity:1
 
  }
}
@keyframes inicio-button {
  0% {
   opacity:0;
  }
  60%{
    opacity:0;
  }
  100% {
    opacity:1
 
  }
}
@keyframes inicio-img{
  0% {
   opacity:0;
   transform: translateY(300px);
  }
  
  100% {
    opacity:1;
    transform: translateY(0px);
  }
}

